*{
    border: none;
}

html, body{
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

body{
    display: grid;
    grid: "header" min-content
          "main" auto
          "footer" min-content /
          1fr;
    justify-content: space-around;
}

header{
    background-color: #000;
    color: #fff;
}

main{
    margin: 0;
    display: grid;
    grid: auto-flow auto / 1fr;
    justify-content: space-around;
}

#screen{
    display: grid;
    grid: 1fr 1fr / 1fr;
}

input{
    border: 1px solid black;
}

#buttons{
    display: grid;
    grid: auto-flow 4em / repeat(3, 1fr);
    gap: 1em;
    justify-content: space-evenly;
    background-color: #afafaf;
}

button{
    background-color: #000;
    color: #fff;
}